{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
    <div class="container-fluid  bg-1 text-center">
        <h3>Who Am I?</h3>
        <img src="{{ user.userprofile.image.url }}" class="img-circle" width="120" height="120" alt="Headshot">
        <h3>I'm an adventurer</h3>
    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
          <h1 class="page-header">Competitions</h1>
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>{Competitio name}</h4>
                            <p>{ competition shot Desc }</p>
                            <p><a href="" class="label label-danger">{Rank}</a>
                                <a href="" class="label label-default">{Total Users}</a></p>
                        </div>
                        <img src="http://lorempixel.com/400/300/sports/1/" alt="...">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>{Competitio name}</h4>
                            <p>{ competition shot Desc }</p>
                            <p><a href="" class="label label-danger">{Rank}</a>
                                <a href="" class="label label-default">{Total Users}</a></p>
                        </div>
                        <img src="http://lorempixel.com/400/300/sports/2/" alt="...">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>{Competitio name}</h4>
                            <p>{ competition shot Desc }</p>
                            <p><a href="" class="label label-danger">{Rank}</a>
                                <a href="" class="label label-default">{Total Users}</a></p>
                        </div>
                        <img src="http://lorempixel.com/400/300/sports/3/" alt="...">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>{Competitio name}</h4>
                            <p>{ competition shot Desc }</p>
                            <p><a href="" class="label label-danger">{Rank}</a>
                                <a href="" class="label label-default">{Total Users}</a></p>
                        </div>
                        <img src="http://lorempixel.com/400/300/sports/4/" alt="...">
                    </div>
                </div>
            </div>
  <!-- submission display block start-->
            <h2 class="sub-header">{Competition Name} Submissions</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>File Name</th>
                  <th>Language Used</th>
                  <th>Algorithm Used</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>File_1</td>
                  <td>Python</td>
                  <td>Regression</td>
                  <td>0.199</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr>
				<tr>
                  <td>3</td>
                  <td>file_3</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr>
				<tr>
				  <td>4</td>
                  <td>File_4</td>
                  <td>Python</td>
                  <td>Regression</td>
                  <td>0.49</td>
                </tr>
				<tr>
                  <td>5</td>
                  <td>NN_submission</td>
                  <td>python</td>
                  <td>Neural Networks</td>
                  <td>0.86</td>
                </tr>
				<tr>
                  <td>6</td>
                  <td>reg_submission</td>
                  <td>Python</td>
                  <td>Regression</td>
                  <td>0.37</td>
                </tr>
				<tr>
                  <td>7</td>
                  <td>reg_submission</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.78</td>
                </tr>
				<tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr>
				<tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr>
				<tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr>
				<tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr>
				<tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr>
				<tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr>
				<tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr><tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr><tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr><tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr><tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr><tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr><tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr><tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr><tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr><tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr><tr>
                  <td>2</td>
                  <td>file_2</td>
                  <td>python</td>
                  <td>random Forest</td>
                  <td>0.56</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </body>
</html>

{% endblock %}
