{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
    <div class="container-fluid  bg-1 text-center">
        <h3>Who Am I?</h3>
        <img src="{{ user.userprofile.image.url }}" class="img-circle" width="120" height="120" alt="Headshot">
        <h3>I'm an adventurer</h3>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-left: 40px;">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <h2>Profile</h2>
                    <hr>
                    <pre>Username: {{ user }}</pre>
                    <pre>First name: {{ user.first_name }}</pre>
                    <pre>Last name: {{ user.last_name }}</pre>
                    <pre>Email: {{ user.email }}</pre>
                    <pre>Description: {{ user.userprofile.description }}</pre>
                    <pre>Phone: {{ user.userprofile.phone }}</pre>
                    <pre>City: {{ user.userprofile.city }}</pre>
                    <pre>Website: {{ user.userprofile.website }}</pre>
                    <!--{% if user.userprofile.image %}
                        <img src="{{ user.userprofile.image.url }}" width="240">
                    {% endif %} -->
                </div>
                <div class="panel-footer">
                    Wanna Edit something? <a href="{% url 'accounts:edit_profile' %}">Click Here</a> to edit.
                </div>
            </div>
        </div>

    </div>
{% endblock %}
