{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
    <div class="container-fluid  bg-1 text-center">
        <h3>Who Am I?</h3>
        <img src="{{ user.userprofile.image.url }}" class="img-circle" width="120" height="120" alt="Headshot">
        <h3>I'm an adventurer</h3>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
                <h3 class="page-header">My Competitions</h3>
                <div class="row">
                    {% for registration in registrations %}
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <div class="caption">
                                    <a href="{% url 'comp:detail' registration.comp.id %}">
                                        <h4>{{ registration.comp.name }}</h4>
                                    </a>
                                    <p><a href="" class="label label-danger">{Rank}</a>
                                        <a href="" class="label label-default">{Total Users}</a></p>
                                </div>
                                <img src="{{ registration.comp.logo.url }}" alt="{{ registration.comp.name }}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- submission display block start-->
                <h3 class="page-header">My Submissions</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Competition</th>
                            <th>File Name</th>
                            <th>Language Used</th>
                            <th>Algorithm Used</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for submission in submissions %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ submission.comp.name }}</td>
                                <td>{{ submission.file_submission.name }}</td>
                                <td>{{ submission.language }}</td>
                                <td>{{ submission.algo }}</td>
                                <td>{{ submission.score }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>

{% endblock %}
