{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-left: 40px;">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <h1>Password reset</h1>
                    <p>
                        Forgotten your password? Enter your email address below, and we'll email instructions for
                        setting a new one.
                    </p>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Reset password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
