/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
}

/* nav bar */
#register {
    padding: 13px 15px;
}

#comp-img {
    height: 100px;
}

.active {
    border-bottom: #4797df 2px;
}

.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-radius: 0;
    border-bottom: #dbdbdb 1px solid;
    box-shadow: #737373 5px;
}

.navbar-brand {
    font-family: 'Roboto Slab', serif;
    font-size: 18px !important;
    color: #4fa7f7 !important;
}

.navbar-brand:hover {
    text-shadow: 0 0 0 #4fa7f7, 0 0 0 #346da1;
}

.navbar-toggle {
    border: none;
}

.navbar-nav > li > a {
    font-size: 14px;
    color: #dbdbdb !important;
}

.navbar-nav > li > a:hover {
    color: #FFFFFF !important;
}

.jumbotron {
    padding-top: 100px;
    margin-bottom: 0;
}

.page-header {
    margin: 20px 0 10px 0;
}

.thumbnail {
    position: relative;
    overflow: hidden;
    padding: 0;
    border-radius: 5px;
}

.caption {
    position: relative;
}

.bg-1 {
    background-color: rgba(11, 0, 10, 0.83); /* Purple */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-4 {
    background-color: #3D4045;
    color: #fff;
}

.button {
    padding: 2px 10px !important;
    font-weight: 400;
    box-shadow: none;
    min-width: 70px;
    color: black !important;
    border: 1px solid #4fa7f7;
    border-radius: 3px;
    cursor: pointer;
    background: #4fa7f7;
}

.button:hover {
    background: #4797df !important;
    border: 1px solid #4797df;
}

.footer {
    position: fixed;
    margin-bottom: 0;
    min-height: 100px;
    border-top: 1px solid #d6d6d6;
    background-color: #fff;
    padding: 10px 40px;
    text-align: center;
    overflow: hidden;
}
