<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Data Crunch{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'comp/css/style.css' %}"/>
    <link rel="stylesheet" type="mlearn/main.css" href="{% static 'comp/css/main.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'comp/js/main.js' %}"></script>
    <script src="{% static 'comp/js/automl.js' %}"></script>
    <link rel="stylesheet" type="mlearn/app_new.css" href="{% static 'comp/css/app_new.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'comp/css/automl.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300,400|Yellowtail" rel="stylesheet">
</head>
<body>
<title> Vinayaka swami</title>
<div class="overlay">
    <div class="abs-center overlay-card">
        <div class="close">X</div>
        <div class="floated overlay-image">
            <div class="abs-center post-image"></div>
        </div>
        <div class="floated overlay-desc">
            <div class="rela-block desc-title"></div>
            <div class="rela-block desc-author"></div>
            <div class="rela-block desc-desc"></div>
        </div>
    </div>
</div>
<div class="nav-bar">
    <div class="horz-center nav-container">
        <div class="floated logo"><a href="{% url 'comp:index' %}">Data Crunch</a></div>
        <ul class="floated nav-div nav-links">
            <li class="rela-inline"><a href="{% url 'comp:index' %}">Competitions</a></li>
        </ul>
        <ul class="floated right nav-div nav-links">
            <li class="rela-inline menu-toggle"><a href="{% url 'accounts:logout' %}">Logout</a></li>
        </ul>
        <!--
         <ul class="floated right nav-div">
          <li class="rela-inline menu-toggle"><a href="% url 'accounts:view_profile' user %}">/a></li>
         </ul>
         -->
        <div class="menu-card">
            <div class="abs-center menu-background"></div>
            <div class="menu-content">
                <ul class="menu-links sub-nav-links">
                    <li class="rela-block">My Profile</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% block body %}
{% endblock %}
</body>
</html>