{% extends 'comp/base.html' %}
{% block title %}All Competitions{% endblock %}
{% block competition_active %}active{% endblock %}
{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="rela-block container">
        <div class="rela-block profile-card">
            <div class="rela-block profile-name-container">
                <div class="rela-block user-name" id="user_name"><h3>Welcome to Data Crunch Competitions</h3></div>
                <div class="rela-block user-desc" id="user_description">Challenge yourself with real-world machine
                    learning problems
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
                <h3 class="page-header">Competitions</h3>
                <div class="row">
                    {% if competitions %}
                        {% for competition in competitions %}
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <a href="{% url 'comp:detail' competition.id %}">
                                            <h4>{{ competition.name }}</h4>
                                        </a>
                                        <p>{{ competition.desc }}</p>
                                    </div>
                                    <a href="{% url 'comp:detail' competition.id %}">
                                        <img class="img-responsive img-rounded" src="{{ competition.logo.url }}"
                                             alt="{{ competition.name }}">
                                    </a>
                                    <div class="caption">
                                        <a href="" class="label label-info">{Total Users}</a>
                                        <a href="" class="label label-success">Register</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}