{% extends 'comp/base.html' %}
{% load cust_tags %}
{% block title %}All Competitions{% endblock %}
{% block competition_active %}active{% endblock %}
{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron text-center" id="#home">
        <h2>Welcome to Data Crunch Competitions</h2>
        <p>Challenge yourself with real-world machine learning problems</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                <h3 class="page-header">Competitions</h3>
                <div class="row">
                    {% if competitions %}
                        {% for competition in competitions %}
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <a href="{% url 'comp:detail' competition.id %}">
                                            <h4>{{ competition.name }}</h4>
                                            <a href="" class="label label-info">{{ competition|comp_all }} Users</a>
                                        </a>
                                    </div>
                                    <a href="{% url 'comp:detail' competition.id %}">
                                        <img class="img-responsive img-rounded" src="{{ competition.logo.url }}"
                                             alt="{{ competition.name }}">
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}