{% extends 'base.html' %}
{% load cust_tags %}
{% block head %}
    <title>Profile</title>
{% endblock %}
{% block nav %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-left: 40px;">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <h3>Submit your Model for {{ competition.name }}</h3>
                    <hr>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}