{% extends 'mlearn/base.html' %}
{% block title %}All Competitions{% endblock %}
{% block competition_active %}active{% endblock %}
{% block body %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="rela-block container">
        <div class="rela-block profile-card">
            <div class="rela-block profile-name-container">
                <div class="rela-block user-name" id="user_name"><h3>Build, Upload, Repeat...!</h3></div>
                <div class="rela-block user-desc" id="user_description">A place to learn and A chance to grow</div>
            </div>
    </div>
        <div class="rela-block content">
			{% if competitions %}
				{% for competition in competitions %}
                    <div class="rela-inline image">
                        <a href="{% url 'mlearn:detail' competition.id %}">
                            <img src="{{ competition.logo.url }}" class="img-responsive">
                        </a>
					</div>
                {% endfor %}
			{% endif %}
	</div>
</div>
</div>
    </div>
    <div class="rela-block footer">
        <p>Datahack@Registered</p>
        <br>
        <p>One machine can do the work of fifty ordinary men. No machine can do the work of one extraordinary
            man,<br><br> Do you want to be one among. <br><br>Use it as a starting point to create something more
            unique.</p>
    </div>
</div>
{%endblock%}