{% extends 'mlearn/base.html' %}
{% block title %}All Competitions{% endblock %}
{% block competition_active %}active{% endblock %}
{% block body %}
<div class="albums-container container-fluid">
	<div class="row">
		<!--<h1> Vinayaka swami</h1>-->
			{% if competitions %}
				{% for competition in competitions %}
					<div class="col-sm-4 col-lg-2">
						<div class="thumbnail">
							<a href="{% url 'mlearn:detail' competition.id %}">
								<img src="{{ competition.comp_logo.url }}" class="img-responsive">
							</a>
							<div class="caption">
								<h2>{{ competition.comp_name }}</h2>
								<h4>{{ competition.comp_desc }}</h4>
                            <!-- View Details -->
                            <a href="{% url 'mlearn:detail' competition.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                           </div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
	</div>
</div>
</div>
<footer>
	<p>Vinayaka&copy;Company 2015</p>
</footer>
</div>
{%endblock%}