{% extends 'mlearn/base.html' %}
{% block title %}{{ Competitions }}{% endblock %}
{% block competitions_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">
    <div class="row">
        <!-- Left Side Info -->
        <div class="col-sm-3 col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'mlearn:detail' competition.comp_id %}">
                        {% if competition.comp_logo %}
                        <img src="{{ competition.comp_logo.url }}" class="img-responsive">
                        {% else %}
                        <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h4>{{ competition.comp_name }}</h4>
                </div>
            </div>
        </div>
        <!-- Right Side Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'mlearn:detail' competition.comp_id %}">Description</a>
                </li>
                <li role="presentation"><a href="{% url 'mlearn:data' competition.comp_id %}">Data</a></li>
                <li role="presentation" class="active"><a href="{% url 'mlearn:score' competition.comp_id %}">Leaderboard</a>
                </li>
                <li role="presentation"><a href="{% url 'mlearn:submit' competition.comp_id %}">Submit</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <h3>Leaderboard</h3>
                        <hr>
                        </thead>
                        <tbody>
                        Compete with others here
                        </tbody>
                    </table>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>△1w</th>
                            <th>Team Name</th>
                            <th>Team Member</th>
                            <th>Score</th>
                            <th>Entries</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}